/*
*************************************************
DUCK TWO POINT OH
**************************************************/

@import "bootstrap";
@import "mixins";

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* WEBSITE STARTS HERE */

img {
	max-width: 100%;
	height: auto;
}

body {
	background:#fff;
	
	font-family: 'Sentinel A', 'Sentinel B'; 
	font-weight: 400; 
	font-style: normal;	
		
	color: #222;
	line-height:1.55;
}

a.skip {
   position: absolute;
   left: -999em;
}

/* SELECTORS */

a {
	color: #222;
	text-decoration:none;
}

	a:hover {
		color: #00a651;
	}

/* Updates */

.updates {
	margin: 0 0 2em 0;
	border-radius:0.2em;	
	padding: 0.5em;
	color: #222;
	background:#fff;
}

	.updates p {
		font-size: 0.8em;
	}

	.updates span.date {
		font-weight:bold;
	}

	.updates a {
		text-decoration:underline;
/*		color: #00a651;*/
	}

/* FRONTPAGE */

.container {
	max-width:1020px;
}

#bordering {
	background:$yellow-bg;
	margin: 1em;
	padding: 1em;
	max-width: 100%;
	max-height: 100%;
}


article#home h1 {
	margin:0;
}

.index-return {
	display:block;
	
	margin:0.5em 0 0 0.5em;	
	text-align:left;
}

article#home {
	h1 {
		a {
			width: 302px;
			height: 302px;	
			@include at2x('home',302px,302px);
			display: block;
			text-indent: -999em;
		}	
	}
	
	&.panel h4 {
		margin-top: 0.3em;
		font-family: 'Sentinel A', 'Sentinel B'; 
		font-weight: 400; 
		font-style: normal;
		
		a {
			padding: 0.3em;		
		}
	}
}

article.panel {
	text-align:center;
	position: relative;
	margin-bottom:2em;
	
	
	picture {
		height:302px;
		width:302px;
		background:$light-grey;
	}
	
	h4 {
		font-size: 1em;
		margin:0.2em 0 0.1em 0;
		//text-transform:uppercase;
		font-weight:normal;
		
		a {		
			color:darken(#666,10%);			
			&:hover {
				color:$green;
				text-decoration:none;
			}
		}
	}
	
}
		
	.internal {
		margin: 100px 0;
	}
	
	article.panel p {
		margin:0;
		font-size: 0.7em;
		font-family: 'Sentinel A', 'Sentinel B'; 
		font-weight: 400; 
		font-style: italic;
		color:#999;
	}
	
	h3.internal {
		position: fixed;
		bottom: -80px;
		left: 0;
		width: 100%;
		text-align: center;
		z-index:100;
	}
	
		h3 span {
			display:block;
			width: 10em;
			margin-left:auto; 
			margin-right:auto;
		}
	
		span a.next,
		span a.previous {
			width: 4em;
			height: 4em;
			text-indent:-999em;
			display:block;
			float: left;
			background:rgba(255,255,255,0.5);
			line-height:4;
			border-radius:4em;
			margin: 0 0.2em;
		}
		
		p.instructions {
			position:absolute;
			z-index: 10;
			color: #666;
			width: 100%;
			text-align:center;
			padding: 1em 0;
			font-size: 80%;
		}
	
	article#news {
		text-align:center;
		display:block;
		float: left;
	}
	
	article#news p {
		width: 260px;
		margin: 0 auto;
		color: #fff;
		padding: 8em 0 0 0;
		font-size: 0.8em;
	}
	
	article#news p span {
		text-transform:uppercase;
	}	
	
		article#news p a {
			text-decoration:underline;
			color: #fff;
		}
	
	article#blank ul {
		color: #fff;
		margin: 7em 0;
	}
		
	article#blank a {
		color: #fff;
	}

.image-container {
		border-radius:60%;
        overflow: hidden;
        max-width:302px;
        max-height:302px;
        margin:0 auto;
	
	picture {
		display: block;
		height: 100%;
		width: 100%;
		min-width: 100%;
		min-height: 100%;
    }	
}

/* LONDON POLYGON */	

#london_polygon {
	margin: 0 auto 2em auto;
	padding-bottom: 1em;
}

.caption {
	max-width: 960px;
	margin: 0 auto;
}

.caption small {
	display:block;
	font-size: 12px;
}

/* FOOTER */	
	
footer {
	padding: 1em 0;
	text-align:center;
}	

	footer ul {		
		list-style:none;
		margin: 0;
		padding: 0;
	}

	footer ul li {
		text-align:center;
		font-size: 0.8em;
	}
	
	footer ul li a:hover{
		color: #00a651;
	}
	
/* WORK PAGES, SIMPLE */

header#bulletins {
	width:auto;
	height: 100px;
	top: 0;
}
	
	header#bulletins h2 {
		float: right;
		margin: 1em;
		font-size: 1.8em;
		text-transform:uppercase;
	}
	
	header#bulletins h1 a  {
		background:url(/a/home-small.png) no-repeat center center;
		margin: 10px 0 0 10px;
		width: 75px;
		text-indent:-999em;
		height: 75px;
		float: left;
		display:block;
	}

header .work-nav {
	background: #f5f5f5;
	position:absolute;
	top: 20px;
	right: 20px;
	z-index:100;
}

	iframe {
		margin: 0 auto;
		width: 800px;
		text-align:center;
	}	

ul.internalnav {
	list-style:none;
	margin: 0;
	padding: 0;
	margin-bottom: 2em;
}

ul.internalnav li.previous{
	float: left;
	margin: 0 0 0 2em;
}

ul.internalnav li.next{
	float: right;
	margin: 0 2em 0 0;
}

section#briefly {
	text-align:center;
}

body#christian section#page h2 {
	font-size: 2em;
	
	@media (min-width: $screen-sm-min) {							
		//margin-top: 10em;
	}
}

body#christian {
	background:url(../a/wheels.png) top left no-repeat fixed;
}

section#listing ol li span {
	display:block;
	font-size: 1rem;
}


/* Slideshow */

ul#slideshow {
	text-align:center;
	margin: 0 auto;
}


/* Default image slideshow style */

ul#imagelist {
	margin: 2em 0 0 0;
	padding: 0;
	width: 100%;
	text-align: center;
	clear: left;
}
	ul#imagelist li {
		max-width:1100px;
		list-style: none;
		margin:1em 0 2em 0;
		@media (min-width: $screen-sm-min) {							
			margin: 2.5em auto 10em auto;
		}
		display: block;	
		padding: 0 0.5em;
		position: relative;	
		height: 100%;
	}

	ul#imagelist li img{
		max-width: 100%;
		border:1px solid #efefef;
	}
	
	ul#imagelist li span {
		display:block;
		font-size: 0.9m;
		bottom: 0;
		text-align:center;
	}
	
	ul#imagelist li span.title {
		font-size: 0.9em;
		color: #666;
		font-weight:500;
	}
	
	ul#imagelist li small {
		display:block;
		font-size: 0.8em;
		color: #666;
	}
	
	ul#imagelist li small span.caps {
		display:inline;
	}
	
.introcopy {
	padding:0.5em;
	
	@media (min-width: $screen-sm-min) {			
		padding: 5em 0 0 0;
	}
	
	max-width: 40em;
	margin: 0 auto;
	
	h1 {
		font-weight:normal;
	}
	
	time {
		font-family: 'Sentinel A', 'Sentinel B'; 
		font-weight: 400; 
		font-style: italic;
		color:#999;	
		font-size:1em;
	}
	
	p {
		margin-bottom: 1em;
		
		small {
			font-size: 0.7em;
			line-height:0;
		}		
	}
}
	
#buttons {
	margin: 0 auto;
	position:absolute;
	left: 500px;
	z-index:200;
}	

#main h2 {
	margin-top: 3em;
	padding: 0 0.5em;
}

iframe {
	padding:0 auto;
	margin:auto 0;
	text-align:center;
}

/* PPL Teaser
------------------------------ */

	#ppl-teaser {
		position:relative;
		height: 320px;
	}
	
	#ppl-teaser h4 {
		margin-top: 310px;
	}

	#ppl-teaser #map-holder {
		position:relative;				
		width: 302px;
		height: 302px;
		z-index:300;
		display:block;
		background: url(../a/circle-clipping.png) no-repeat center center;
	}
	
	#ppl-teaser #map {
		position:absolute;
		top: 0;
		left: 0;
		z-index:10;
		display:block;
	}
	
	#ppl-teaser .leaflet-control {
		display:none;
	}

/* London Polygon
------------------------------ */

#map.london-polygon {
	width: 80%;
	height: 700px;
	margin: 0 auto;
}
	
/* BULLETINS */	
	
section#bulletins {
	max-width: 50em;
	margin:0 auto 0;
}	

#section#bulletins .insider {
	max-width:40em;
}

h1 {
	font-size: 2.2em;
	line-height:1;
	margin-bottom: 0.2em;
}
	
	section#bulletins p {
		margin-bottom: 1em;
	}
	
	section#bulletins ol {
		padding-left: 1em;
		margin: 1em 0;
	}
	
	time {
		margin-bottom: 0.5em;
		text-transform:uppercase;
		letter-spacing:1px;
		font-size: 0.8rem;
		display:block;
	}
	
	section#bulletins ol li {
		list-style:decimal;
	}
	
	section#bulletins blockquote {
		margin: 1em 0;
		padding:0 0 0 1em;
		border-left: 10px solid #00A651;
	}
	
section#listing ol {
	list-style:none;
}

	section#listing ol li {
		font-size: 1.7em;
		list-style:none;
	}
	
	section ol li a span {
		color: #00A651;
		display:block;
		margin-bottom: 1em;
	}
	
li.film {
	max-width: 1024px;
}	
	
.videoframe {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}	
	
	.videoframe iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
/* Media queries
------------------------------ */

@media screen and (min-width: 640px) {

   .nav-work,
   .nav-work ul {
      float: left;
   }
   .nav-work ul {
      float: left;
   }
   .nav-work li {
      float: left;
      font-size: 1em;
      border-bottom: 0;
   }   
   
}

/*layouts smaller than 600px, iPhone and mobiles*/
@media handheld and (max-width: 480px), 
screen and (max-device-width: 480px), 
screen and (max-width: 600px)  {

	p.instructions {
		display:none;
	}
	
	#totop {
		display:none;
	}

	#bordering {
		margin: 0.2em;
		padding: 0.2em;
	}

	header#work h1 a  {
		margin: 10px auto 0 auto;
		float: none;
		position:relative;
	}

	.nav-menu .nav-work {
		margin: 0 auto;
		position:relative;
		overflow: hidden;
	}
	
	
	.nav-work a {
		width: 255px;
	}
	
	
	ul#imagelist {
		margin-top:1em;
		@media (min-width: $screen-sm-min) {					
			margin-top: 11em;
		}
	}
	
	article.panel,
	article#news.panel,
	article.panel:nth-of-type(3n),
	article.panel.last {
		margin: 0 auto 2em auto;
		float: none;
	}
	
	article#blank  ul {
		margin: 0;
		padding-top: 7em;
		display:block;
		
	}

	ul#imagelist li { 
	}
	
	ul.internalnav li{
		font-size: 0.9em;
	}
	
	section#listing ol li {
		margin-bottom: 0.5em;
		font-size: 1.2em;
	}
	
	section#listing ol li span {
		display:block;
	}
		
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	ul#imagelist li { 
		padding: 0 0.5em;
	}
}	

/* New project layout */

body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

#section-holder {
	position:relative;
}

// NEW PROJECT NAV

/* General dropdown styles */       

dl {
	&.dropdown {
				
		margin:0 0.5em;
		position:relative;
		z-index:100;
		
		@media (min-width: $screen-sm-min) {			
			//position:absolute;
			//top:2em;
			//left:auto;
			//right:2em;
		}
				
		dd {
			margin:0;
			padding:0;
			position:relative;
			
			ul { 
				border-radius:0.1em;				
				background:$green none repeat scroll 0 0; 
				display:none;
			    list-style:none; 
			    padding: 0; 
			    position:absolute; 
			    margin:0;
			    left:0px; 
			    top:2px; 
			    width:100%;
			    @media (min-width: $screen-sm-min) {	
				    width:auto; 
				    min-width:180px;
				}
			    
			    li {
				    a { 
				    	padding:5px; 
				    	color:$white;
				    	display:block;
				    	
				    	&:hover {
				       		background-color:rgba($white,0.7);				    		
				    		text-decoration:none;
				    		color:$black;
				    	}
				    }			    
				    
				    &.nav-current {
				    	a {
				    		font-weight:bold;
				    		background-color:rgba($white,0.7);
							color:$black;				    	
				    	}				    	
				    }				    
			    }			    
			}			 
		}
		
		dt { 
			a {
				border-radius:0.1em;
				background:#efefef url(arrow.png) no-repeat scroll right center;
				display:block; 
				font-weight:bold;
				text-transform:uppercase;

				border: 1px solid #e6e6e6;				
				width:100%;
				
			    @media (min-width: $screen-sm-min) {					
					width:180px;
				}
				
				span {
					&:hover {
						text-decoration:none;
					}
					
					cursor:pointer; 
					display:block; 
					padding:5px;
				}				
			}
		}				
	}
}

/* UL styles */
.dropdown dd .dropdown span.value { 
	display:none;
}

// DRAWER


.work-drawer {
	background:$yellow-bg;
	height:0;
	overflow:hidden;

	transition-property: height;
	transition-duration: 1s;
	h3 {
		font-weight:normal;
		margin-top:0;
		margin-bottom:0em;
		
		a {
			padding:0.2em;
			display:block;
			
			&.nav-current {
				background:$green;
				color:$white;
			}						
		}
	}

	&.show {
		position:fixed;
		top:0;
		padding-top:0.5em;
		padding-bottom:0.5em;
		border:1em solid $white;
		border-bottom:none;
		width:100%;
		left:0;		
		z-index:210;
		height:auto;		
		overflow:visible;
	}	
}

.activate-work {
	position:fixed;
	top:1em;
	right:0;
    z-index:211;
    @media (min-width: $screen-sm-min) {						
		z-index:200;
	}
			
	a {
		border:1px solid $light-grey;
		font-weight:bold;
		text-transform:uppercase;
		display:block;
		background:$yellow-bg;
		margin:0 1em 0 0;
		padding:0.7em;	
		
		&.active {	
			border:none;
			background:none;
			color:$black;
		}
		
		&:hover {
			text-decoration:none;			
		}
	}
}