---
layout: default
title: Christian Nolle
mapnew: yes
---
	
<article id="home" class="panel">

	<h1><a href="christian.html">{{site.main_title}}</a></h1>
	<h4><a href="bulletins.html">Bulletins</a></h4>

</article>

<article class="panel" id="ppl-teaser">

		<div id="map">
			<div id="map-holder"></div>			
		</div>

	<h4>PPL</h4>
	<p>Soon</p>
</article>

{% for post in site.categories.work %}

<article class="panel">

	{% if post.external %}
	<a href="{{ post.external }}"><img src="{{ site.imageurl }}/{{ post.thumbnail }}" width="302" height="302" title="{{ post.title }}" /></a>
    {% else %}
	<a href="{{ post.url }}"><img src="{{ site.imageurl }}/{{ post.thumbnail }}" width="302" height="302" title="{{ post.title }}" /></a>
	{% endif %}

	<h4><a href="{{ post.url }}">{{ post.title }}</a>{% if post.status %}<span>{{ post.status }}</span>{% endif %}</h4>
	<p>{{ post.year }}</p>

</article>
          
{% endfor %}

<article id="blank" class="panel">

</article>

<script>
	var map = L.map('map')
    .setView([51.854, -0.093], 12)
    .addLayer(L.mapbox.tileLayer('goodcaesar.map-u6uou3l9', {
        detectRetina: true,
        retinaVersion: 'goodcaesar.map-u6uou3l9',
        maxZoom: 12,
        minZoom: 12,
        zoomControl: false
    })); 
	
	L.control.scale().addTo(map);        
                                                                        
</script>