/* @override 
	http://cnolle.localhost/c/stolen.css */


#header { background: #fff; width: 150px; z-index: 1000; padding: 0px 0px 0px 0px; position: relative; float: left; margin: 20px 0px 0px 20px; }
#logo { position: absolute; top: 20px; left: 0px; z-index: 100; }
#menu { }
#menu a { padding: 6px 0px 0px 5px; text-transform: uppercase; display: block; }
.submenu-link { font-size: 14px; margin-right: 20px; text-transform: capitalize; }
ul li { cursor: pointer; }
.li { position: relative; margin-right: 0px; }
.level-two { font-size: 12px; overflow: hidden; }
.level-two li { display: block; padding: 0px 0px 0px 0px; }
#menu .level-two li a { font-size: 10px; line-height: 14px; }
.li ul { display: block; background: #fff; width: 130px; opacity: .9; padding: 0px 0px 10px 0px; }
.photo_wraper { position: absolute; margin: 0px 0px 0px 0px; }
.wraps { float: left; position: relative; margin: 20px 0px 20px 0px; }


.arrows { 
	margin: 1em auto 0 auto;
	font: bold 20px/14px Helvetica; 
	z-index: 600; width: 100px; 
	position:relative;
	text-align:center;
}

.left_arrow { margin-right: 0px; float: left; display: block; background: url('http://patrickmoberg.com/copytest/arrows.gif') no-repeat -47px 0px; width: 13px; height: 22px; }
.right_arrow { margin-left: 0px; float: left; display: block; background: url('http://patrickmoberg.com/copytest/arrows.gif') 33px 0px; width: 13px; height: 22px; }
.count { float: left; font: bold 12px Helvetica; margin-top: 5px; color: #999; text-align: center; width: 55px; }

.thumbs { z-index: 600; background: url('http://patrickmoberg.com/copytest/thumbs.gif') no-repeat -34px 0px; width: 34px; height: 23px; cursor: pointer; position: absolute; top: 20px; left: 180px; }
.thumbs:hover { background-position: 0px 0px; }

.left_arrow:hover { background-position: -17px 0px; }
.right_arrow:hover { background-position: 0px 0px; }
.global { width: 1240px; margin: 0px auto; position: relative; height: 0px; }
.global .pad { margin: 0px 0px; }
.thumbnails { position: absolute; top: 10px; z-index: 900; left: 210px; height: 0px; overflow: hidden; background: #fff; }
.thumbnails img { width: 100%; }
.thumbnails .thumb { cursor: pointer; float: left; width: 150px; overflow: hidden; position: relative; height: 115px; margin: 10px; }
.gallery { position: relative; margin-top: 40px; }
.image { height: 100%; }
.lightbox { position: absolute; z-index: 900; background: #fff; top: -9000px; }
.description { margin-top: -3px; }
.post { width: 1024px; position: absolute; top: 0px; left: 20px; text-align: center; }
.post img { max-width: 1024px; }
.posts { 
	margin: 4em auto 0 auto;
 	position: relative; 
 	overflow: hidden; 
 	height: 650px; 
 	width: 1024px; 
}
#menu li.li:first-of-type { display: none; }
.explination { font-size: 11px; font-weight: normal; margin: 6px 0px 0px 10px; float: left; }