<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 legacy-ie"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 legacy-ie"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8 legacy-ie"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9" /> 
	
	<meta charset="utf-8" />
		
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 
	 <title>{{ page.title }}</title> 

	<link rel="stylesheet" type="text/css" href="//cloud.typography.com/638248/623582/css/fonts.css" />
	<link rel="stylesheet" href="/c/screen.css">

	<meta name="google-site-verification" content="Af3ZSwYuukSSRmZHr1O_3lw4eI58sdEwABlMugeWS4k" />
	<link rel="Shortcut Icon" href="/a/favicon.ico" type="image/x-icon" />
	
	<meta name="copyright" content="Good Caesar Limited" /> 
	<meta name="MSSmartTagsPreventParsing" content="true" />  

	{% if page.description %}
	<meta name="description" content="{{page.description}}" />
	{% else %}
	<meta name="description" content="{{site.description}}" />
	{% endif %}
	
	<meta name="robots" content="{{ page.meta-robots }}" />

	<!-- DUBLIN CORE -->
	<meta name="dc.creator" content="Good Caesar Limited" /> 
	<meta name="dc.publisher" content="Good Caesar Limited" /> 
 
	<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js" onload="window.ieshiv=true;"></script>
	<![endif]-->
 
 	 <script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
 	 <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
 
 	<!--[if lte IE 8]>
 		<link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' >
 	<![endif]-->
  
</head> 

<body> 
<div id="bordering">

	<a href="#main" class="skip">Skip navigation</a>

	<section class="clearfix"> 
  
  		{{ content }}
  
	</section>

</div><!-- /bordering -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
<script>window.jQuery || document.write('<script src="/j/jquery.js">\x3C/script>')</script>
<script src="/j/screen.js"></script>

{% include ga.code %}

</body> 
</html> 