---
layout: normal
title: Welcome
permalink: /
---

<div id="bordering">

	<a href="#main" class="skip">Skip navigation</a>
	
	<div class="container">
  
		  <div class="row">
		  	
		  	<article id="home" class="panel col-sm-4">
		  		<a href="christian.html"><img src="/a/cnolle-logo.svg" width="302" height="302" /></a>		  				
		  	</article>
		  	
		  	<article class="panel col-sm-4">
		  	
		  		<picture>
		  			<!--[if IE 9]><video style="display: none;"><![endif]-->		  			
		  			<source srcset="/teasers/windhose.png, /teasers/windhose@2x.png 2x" media="(min-width: 800px)">		  			
		  			<!--[if IE 9]></video><![endif]-->		  			
		  			<img srcset="/teasers/windhose.png, /teasers/windhose@2x.png 2x" alt="">
		  		</picture>		  	
		  			  		
		  		<h4>Windhose</h4>{% include ga.code %}		  		
		  		<p>Soon, 2015</p>
		  	
		  	</article>
		  	
		  	{% for post in site.categories.work limit:1 %}
		  	
		  		<article class="panel col-sm-4">
		  		
					<picture>					
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<a href="{{ post.url }}"><source srcset="{{ post.thumbnail }}, {{ post.thumbnail2x }} 2x" media="(min-width: 800px)"></a>
						<!--[if IE 9]></video><![endif]-->		  			
						<a href="{{ post.url }}"><img srcset="{{ post.thumbnail }}, {{ post.thumbnail2x }} 2x" alt=""></a>
					</picture>
		  		
		  			<h4><a href="{{ post.url }}">{{ post.title }}</a>{% if post.status %}<span>{{ post.status }}</span>{% endif %}</h4>
		  			<p>{{ post.year }}</p>
		  		
		  		</article>
		  	
		  	{% endfor %}	
		  
		  </div><!--/top -->
		  		
		  {% for post in site.categories.work offset:1 limit:20 %}
		  								
		  	{% cycle 'add rows': '<div class="row">', nil, nil %}
		  																					
		  		<article class="panel col-sm-4">
		  			
		  			<picture>
		  				<!--[if IE 9]><video style="display: none;"><![endif]-->
						<a href="{{ post.url }}"><source srcset="{{ post.thumbnail }}, {{ post.thumbnail2x }} 2x" media="(min-width: 800px)"></a>
		  				<!--[if IE 9]></video><![endif]-->		  			
						<a href="{{ post.url }}"><img srcset="{{ post.thumbnail }}, {{ post.thumbnail2x }} 2x" alt=""></a>
		  			</picture>	
		  				  		
		  			<h4><a href="{{ post.url }}">{{ post.title }}</a>{% if post.status %}<span>{{ post.status }}</span>{% endif %}</h4>
		  			<p>{{ post.year }}</p>
		  		
		  		</article>
		  			  			
		  		{% cycle 'group2': '', '<div class="clearfix visible-xs"></div>' %}		
		  			  							  				  		
		  	  	{% cycle 'close rows': nil, nil, '</div>' %}  	
		    	
		  	{% endfor %}
			
			<article class="panel col-sm-4">
			
				<picture>
					<!--[if IE 9]><video style="display: none;"><![endif]-->		  			
					<source srcset="/a/plus.png, /a/plus@2x.png 2x" media="(min-width: 800px)">		  			
					<!--[if IE 9]></video><![endif]-->		  			
					<img srcset="/a/plus.png, /a/plus@2x.png 2x" alt="">
				</picture>		  	
					  					
			</article>
					  			  	
		  {% cycle 'close rows': nil, '</div>', '</div>', '</div>' %}
  
	</div>

</div><!-- /bordering -->