---
layout: normal
title: Welcome
permalink: /
---

<div id="bordering">

	<a href="#main" class="skip">Skip navigation</a>
	
	<div class="container">
  
		  <div class="row">
		  	
		  	<article id="home" class="panel col-sm-4">
		  		<a href="/christian/"><img src="/a/cnolle-logo.svg" width="302" height="302" /></a>
		  		
		  		<h4><a href="/christian/">About</a></h4>
		  		
		  	</article>
		  	
	  		<article class="panel col-sm-4">
	  			<div class="image-container">		  			
	  			<picture>					
	  				<!--[if IE 9]><video style="display: none;"><![endif]-->
	  				<source srcset="teasers/holding.jpg, teasers/holding@2x.jpg 2x" media="(min-width: 800px)">
	  				<!--[if IE 9]></video><![endif]-->		  			
	  				<img srcset="teasers/holding.jpg, teasers/holding@2x.jpg 2x" alt="">
	  			</picture>
	  			</div>
	  			
	  			<h4>Holding</h4>
	  			<p>Coming soon</p>		  		
	  		</article>
	  		
	  		{% for post in site.categories.work limit:1 %}

			<article class="panel col-sm-4">
				<div class="image-container">		  					  				
					<picture>
						<!--[if IE 9]><video style="display: none;"><![endif]-->
					<a href="{{ post.url }}"><source srcset="{{ post.thumbnail }}, {{ post.thumbnail2x }} 2x" media="(min-width: 800px)" class="lazyload"></a>
						<!--[if IE 9]></video><![endif]-->		  			
					<a href="{{ post.url }}"><img srcset="{{ post.thumbnail }}, {{ post.thumbnail2x }} 2x" alt="" class="lazyload"></a>
					</picture>	
			</div>
				  				  		
				<h4><a href="{{ post.url }}">{{ post.title }}</a>{% if post.status %}<span>{{ post.status }}</span>{% endif %}</h4>
				<p>{{ post.year }}</p>
			
			</article>
		  		
	  		{% endfor %}
		  			  			  
		  </div><!--/top -->
		  		
		  {% for post in site.categories.work limit:20 offset:1 %}
		  								
		  	{% cycle 'add rows': '<div class="row">', nil, nil %}
		  																					
		  		<article class="panel col-sm-4">
		  			<div class="image-container">		  					  				
			  			<picture>
			  				<!--[if IE 9]><video style="display: none;"><![endif]-->
							<a href="{{ post.url }}"><source srcset="{{ post.thumbnail }}, {{ post.thumbnail2x }} 2x" media="(min-width: 800px)" class="lazyload"></a>
			  				<!--[if IE 9]></video><![endif]-->		  			
							<a href="{{ post.url }}"><img srcset="{{ post.thumbnail }}, {{ post.thumbnail2x }} 2x" alt="" class="lazyload"></a>
			  			</picture>	
					</div>
						  				  		
		  			<h4><a href="{{ post.url }}">{{ post.title }}</a>{% if post.status %}<span>{{ post.status }}</span>{% endif %}</h4>
		  			<p>{{ post.year }}</p>
		  		
		  		</article>
		  			  			
		  		{% cycle 'group2': '', '<div class="clearfix visible-xs"></div>' %}		
		  			  							  				  		
		  	  	{% cycle 'close rows': nil, nil, '</div>' %}  	
		    	
		  	{% endfor %}
			
			<article class="panel col-sm-4">
			
				<picture>
					<!--[if IE 9]><video style="display: none;"><![endif]-->		  			
					<source width="302" height="302" srcset="/a/plus.png, /a/plus@2x.png 2x" media="(min-width: 800px)">		  			
					<!--[if IE 9]></video><![endif]-->		  			
					<img widthidth="302" height="302"srcset="/a/plus.png, /a/plus@2x.png 2x" alt="">
				</picture>		  	
				<h4><a href="https://twitter.com/briefly">No news is good news</a></h4>		
			</article>
					  			  	
		  {% cycle 'close rows': nil, '</div>', '</div>', '</div>' %}
  
	</div>

</div><!-- /bordering -->